:root {
  --ecomm-primary-color: rgba(17, 144, 230, 0.733);
  --secondary-color: rgb(255, 255, 255);
  --head-text-color: rgb(116, 115, 115);
  --light-grey-color: rgb(238, 235, 235);
  --red-color: red;
  --black-color: black;
}

html {
  font-size: 62.5%;
}

.container .header {
  background-color: var(--ecomm-primary-color);
  height: 4.5rem;
}

.search-container {
  border: 1px solid var(--light-grey-color);
  border-radius: 10px;
}

.header .search-container #search {
  color: black;
}

.action-icon .btn {
  background-color: var(--secondary-color);
  box-shadow: none;
  padding: 0.5rem;
  position: relative;
}

.action-icon .btn a {
  text-align: center;
  margin: 0;
  color: var(--black-color);
}

.dropdown li {
  list-style: none;
}

.dropdown-menu {
  display: none;
  width: 20rem;
  position: absolute;
  padding: 1rem;
  left: -7rem;
  bottom: -15.5rem;
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1000;
}

.dropdown-menu .signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown .dropdown-menu li {
  display: flex;
  align-items: center;
  color: var(--ecomm-primary-color);
}

.dropdown .dropdown-menu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.dropdown .dropdown-menu li a i {
  height: 2.5rem;
  width: 2.5rem;
  color: var(--ecomm-primary-color);
  text-align: center;
  margin-right: 1rem;
}

.dropdown .btn:hover .dropdown-menu{
  display: block;
}
.container .header .action-icon .icon i {
  color: var(--secondary-color);
}

.container .header .action-icon .icon span {
  color: var(--secondary-color);
  background-color: var(--red-color);
}

.hero-banner-container {
  min-height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem initial 1.5rem initial;
}

.hero-banner-container img {
  overflow: hidden;
  object-fit: cover;
}

.container .book-category {
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.book-category a {
  height: 20rem;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  padding: 6rem;
  text-decoration: none;
  font-family: cursive;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  margin: 1rem 2rem;
  border-radius: 5px;
  color: var(--black-color);
  background: -webkit-linear-gradient(120deg, #f6f7f8 40%, #34cbe6 60%);
}

.new-release .new-release-head {
  margin-top: 2rem;
  padding: 0rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-release .new-release-head h3 {
  font-size: 1.5rem;
  padding-left: 2.5rem;
  color: var(--head-text-color);
}

.new-release .new-release-head .btn {
  background-color: var(--ecomm-primary-color);
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-release .new-release-head .link {
  height: 1rem;
  width: 2rem;
  color: var(--secondary-color);
}

.container .new-release .release-container {
  border-radius: 4px;
  min-height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow-x: scroll;
  margin-right: 1rem;
}

.release-container .ecommerce-card-box {
  max-width: 25rem;
  cursor: pointer;
  text-align: center;
  min-height: 5rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.release-container .ecommerce-card-box .add-to-cart {
  background-color: var(--ecomm-primary-color);
  border-radius: 0;
  padding: 0.2rem;
}

@media screen and (max-width: 630px) {
  html {
    font-size: 50%;
  }

  .logo {
    display: none;
  }

  .search-container {
    width: 45%;
  }

  .main-container {
    margin: 2rem;
  }
}
