.login-container {
  margin-top: 12rem;
}

.login-container .login-btns .login {
  color: var(--secondary-color);
  background-color: var(--ecomm-primary-color);
}

@media screen and (max-width: 1200px) {
  .login-container {
    width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .login-container {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .login-container {
    width: 90%;
  }
}
