.product-listing {
  display: flex;
}

.filter {
  padding: 2rem;
  width: 30rem;
}

.filter-heading {
  display: flex;
  justify-content: space-between;
}

.filter-heading,
.price-range,
.product-category,
.rating,
.price-sort {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.price-range ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.price-range ul li {
  margin-right: 4rem;
}

.price-range ul li a {
  font-weight: 100;
}

.price-range .preference,
.product-category .preference,
.rating .preference,
.price-sort .preference {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.price-range-ipt,
.category-checkbox,
.rating-radio,
.pricehl {
  margin-right: 1rem;
}

/* .img-container{
    border: 1px solid black;
    width: 80%;
} */

/* .img-container img{
    border: 1px solid black;
    width: 80%;
    object-fit: cover;
    overflow: hidden;
} */
@media screen and (max-width: 750px) {
  .filter {
    display: none;
  }
}
