.login-credential .confirm-password label, .login-credential .login-password label{
    font-size: 1.5rem;
    position: absolute;
    top: 2.5rem;
    right: 1.5rem;
    color: var(--black-color);
}
